@model IEnumerable<AppTracker.Models.Company>

@{
    ViewBag.Title = "Company List";
}

<h2>Potential Employers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
<p>
    Find by company or contact name: @Html.TextBox("searchString", null, new { @class = "form-control" })
    <input class="btn btn-default" type="submit" value="Search" />
</p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.CompSortParm })
        </th>
        <th>
            @Html.ActionLink("Contact Name", "Index", new { sortOrder = ViewBag.ContactSortParm})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactTitle)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Email)*@
            <a href="mailto:@item.Email">@item.Email</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Website)*@
            <a href="http://@item.Website" target="_blank">@item.Website</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CompanyID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })
        </td>
    </tr>
}

</table>
