@model AppTracker.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedVia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedVia)
        </dd>

        <dt>
            Submissions:
        </dt>
        <dd>

        </dd>
        <dt>
            Application
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppSubmitted)
        </dd>

        <dt>
            Resume
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResSubmitted)
        </dd>

        <dt>
            Cover Letter
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLSubmitted)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    
    @if (Model.Updates != null)
    {
        <h2>Updates</h2>
        @Html.ActionLink("Add new update", "Create", "Update")
        <table class="table">
            <tr>
                <th> Date </th>
                <th> Note </th>
            </tr>

            @foreach (var item in Model.Updates)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Note
                    </td>
                </tr>
            }
        </table>


    }
</div>

