@model AppTracker.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>Application Details</h2>

<div>
    <h3>Application</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppliedVia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppliedVia)
        </dd>

        <dt>
            Submitted
        </dt>
        <dd>
            Application @Html.DisplayFor(model => model.AppSubmitted)  |  Resume @Html.DisplayFor(model => model.ResSubmitted)  |  Cover Letter @Html.DisplayFor(model => model.CLSubmitted)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    
    @if (Model.Updates != null)
    {
        <h3>Updates</h3>
        @Html.ActionLink("Add new update", "Create", "Update")
        <table class="table">
            <tr>
                <th> Date </th>
                <th> Note </th>
            </tr>

            @foreach (var item in Model.Updates)
            {
                <tr>
                    <td>
                        @item.Date
                    </td>
                    <td>
                        @item.Note
                    </td>
                </tr>
            }
        </table>


    }
</div>

