@model IEnumerable<AppTracker.Models.Application>

@{
    ViewBag.Title = "Position Applications";
}

<h2>Position Applications</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        Find by position or company: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Position", "Index", new { sortOrder = ViewBag.PosSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>
        <th>
            @Html.ActionLink("Date Applied", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppliedVia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CLSubmitted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateApplied)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppliedVia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CLSubmitted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID })
            </td>
        </tr>
    }

</table>
